<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013 Qualcomm Connected Experiences, Inc, All rights reserved
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.toq.smartwatch.api.v1.deckofcards.demo"
    android:versionCode="140"
    android:versionName="1.4.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name=".ToqApiDemo"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" 
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver 
            android:name=".ToqAppletInstallationBroadcastReceiver"
            android:enabled="true"
            android:exported="true">            
            <intent-filter>
                <action android:name="com.qualcomm.toq.smartwatch.install.applet" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
